@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
  
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
